name: CI

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Zulu/Azul JAVA 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      - name: Show Gradle version
        run: ./gradlew -v
      - name: Run Tests
        run: ./gradlew --no-daemon test

  contractTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Zulu/Azul JAVA 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      - name: Show Gradle version
        run: ./gradlew -v
      - name: Run Contract Tests
        run: ./gradlew --no-daemon contractTest

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Zulu/Azul JAVA 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      - name: Show Gradle version
        run: ./gradlew -v
      - name: Build without tests
        run: ./gradlew --no-daemon build -x test -x contractTest
